<button class="button btn-primary"><%= link_to 'Back', notes_path %></button>
<button class="button btn-secondary"><%= link_to 'Delete', note_path(@note), method: :delete %></button>
<%= render 'form' %>

