<%= link_to '+', new_note_path, :class => "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <td scope="col">Title</td>
      <td scope="col">Updated</td>
    </thead>
    <tbody>
      <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, edit_note_path(note) %></td>
        <td><%= note.updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>
