
<%= link_to '+', new_admin_manufacturer_path, :class => "btn btn-primary" %>
<table class="table table-striped">
   <thead>
   <tr>
    <th scope="col">Name </th>
    <th scope="col" colspan="1"></th>
  </tr>
  <thead>

  <tbody>
  <% @manufacturers.each do |manufacturer| %>
    <tr scope="row">
      <td><%= link_to manufacturer.name, admin_manufacturer_path(manufacturer) %></td>
      <td><%= link_to 'edit', edit_admin_manufacturer_path(manufacturer) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


