<%= link_to '+', new_tag_path, :class => "btn btn-primary" %><br>
<table class="table table-striped">
   <thead>
   <tr>
    <th scope="col">Name </th>
    <th scope="col" colspan="1"></th>
  </tr>
  <thead>

  <tbody>
  <% @tags.each do |tag| %>
    <tr scope="row">
      <td><%= tag.name %></td>
      <td><%= link_to 'edit', edit_tag_path(tag) %></td>
      <td><%= link_to 'Destroy', tag_path(tag.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

