
<% @assets.each do |asset| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= asset.location.short_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= asset.equipment.model %></h6>
    <p class="card-text"><%= render asset.taggings %></p>

  </div>
</div>
<% end %>
