@import "partials/*"; 
@import "bootstrap";



a.btn:visited {
  color: #fff;
}
.glyphicon {
font-size: 2em;
text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
