<h1>Severity</h1>
<%= link_to 'New Severity', new_severity_path %>

<table>
  <tr>
    <th>Severity</th>
  </tr>

  <% @severities.each do |severity| %>
    <tr>
      <td><%= severity.severity %></td>
      <td><%= severity.description %></td>
      <td><%= link_to 'edit', edit_severity_path(severity) %></td>
    </tr>
  <% end %>
</table>


