<%= link_to '+', new_location_path, :class => "btn btn-primary" %>
<table class="table table-striped">
   <thead>
   <tr>
    <th scope="col">Short Name</th>
    <th scope="col">Name </th>
    <th scope="col" colspan="1"></th>
  </tr>
  <thead>

  <tbody>
  <% @locations.each do |location| %>
    <tr scope="row">
      <td><%= link_to location.short_name, location_path(location) %></td>
      <td><%= location.name %></td>
      <td><%= link_to 'edit', edit_location_path(location) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


